<%- include("template/header", {WebTitle: "agua"}) %>



<div class="container">

    
    <h3 class="title">Agua</h3>
    <a class="btn btn-primary mb-2" href="./registrar">Nuevo registro</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col">Valor</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayAgua.length > 0) { %>
            <% arrayAgua.forEach(agua => { %>

            <tr>


                <th scope="row"><%= agua.id %> </th>
                <td><%= agua.mes %></td>
                <td><%= agua.valor %></td>
                <td>@mdo</td>
            </tr>
            <% }) %>
            <% } %>

        </tbody>
    </table>

</div>

<%- include("template/footer") %>