<%- include("template/header", {WebTitle: "Servicio de agua"}) %>



<div class="container">


    <h3 class="title">Agua</h3>
    <a class="btn btn-primary mb-2" href="/agua/registrar">Nuevo registro</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col">Valor</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayAgua.length > 0) { %>
            <% arrayAgua.forEach(agua => { %>

            <tr>


                <th scope="row"><%= agua.dateStart %> </th>
                <td><%= agua.dateEnd %></td>
                <td><%= agua.value %></td>
                <td>
                    <a href="agua/<%= agua.id %>" class="btn btn-warning btn-sm">
                        Editar

                    </a>
                </td>
            </tr>
            <% }) %>
            <% } %>

        </tbody>
    </table>

</div>

<%- include("template/footer") %>